---
const { title = 'Inbolsa · App' } = Astro.props;
import '../styles/tailwind.css';

---
<html lang="es" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>


  
  <body class="min-h-dvh bg-slate-50 text-slate-800 antialiased">
    <main class="min-h-dvh">
      <slot />
    </main>

 
  </body>
</html>